* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.primary_color {
    color: #FD6E0A;
}

.btn_primary {
    display: inline-block;
    padding: 18px 36px;
    color: #fff;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.btn_primary:hover {
    color: #FD6E0A;
    background-color: transparent;
}

.btn_outline {
    display: inline-block;
    padding: 18px 36px;
    color: #FD6E0A;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.btn_outline:hover {
    color: #fff;
    background-color: #FD6E0A;
}

.section_title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
}

.section_description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

/* Header and navigation style  */

header {
    padding: 50px 0 0;
    background-color: #FFF8F3;
    background-image: url("../assets/images/developer.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 25px center;
}

.site_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.site_logo {
    font-size: 45px;
    font-weight: 700;
    width: 30%;
}

.site_menu {
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;

}

ul.site_menu li {
    margin: 0 25px;
}

ul.site_menu li a {
    font-size: 20px;
    font-weight: 500;
    color: #474747;
    text-decoration: none;
    display: inline-block;
}

ul.site_menu li:last-child a {
    display: inline-block;
    padding: 18px 36px;
    color: #fff;
    background-color: #FD6E0A;
    border-radius: 5px;
}

ul.site_menu li:last-child a:hover {
    color: #FD6E0A;
    background-color: transparent;
}

/* Banner Style */

.banner {
    padding: 184px 0;
    position: relative;
    background: url("../assets/images/header_bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
}

.banner_content_wraper {
    max-width: 570px;
}

.banner_sub_title {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
    margin-bottom: 5px;
}

.banner_title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}

.banner_description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.banner_img_wraper {
    position: absolute;
    bottom: -5px;
    right: 38px;
}

/* About Me Section */

.about_wraper {
    padding-top: 130px;
}

.about_content_wraper {
    padding: 130px 150px;
    background: #FFF8F3;
    border-radius: 10px;
}

.personal_info_wraper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
}

.personal_info {}

.info_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

.info_details {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #474747;
}